/*TABS BEGIN*/
.tabs {
  min-width: 320px;
  max-width: 800px;
  padding: 0px;
  margin: 0 auto; 
}

section {
  display: none;
  padding: 15px 0;
  background: #fff;
  border-top: 1px solid #ddd;
  font-size: 20px;
}
.tabs input {
  display: none;
}

.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  text-align: center;
  color: #aaa;
}
.tabs label:hover {
  color: #888;
  cursor: pointer;
  background-color: rgba(132,141,149,0.05);
}

.tabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 3px solid #ffa500;

  background: #fff;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
  display: block;
}
.counter span{
  color:#848d95;
}
.votes span{
  padding: 13px;
}
.answers span{
  padding: 24px;
}
.view span{
  padding: 11px;
}
table{
  border-spacing: 10px;
}
tr{
  border-bottom: 1px;
}
a{
  text-decoration: none;
  color:#07C;
}
a:visited{
      color: #005999;
}
.counts{
  color:#848d95;
  font-size: 18px;
}
.tag{
  color:#39739d;
  background-color:#E1ECF4;
  border-color: transparent;
  padding: .1em .2em;
  margin: 0.2em;
}
.tag:hover{
      color: #33658a;
    background-color: #cee0ed;
    border-color: rgba(0,0,0,0)
}
.whoAsked{
  font-size: 14px;
  position: absolute;
  left: 63%;
}

.ask{
    min-width: 320px;
  max-width: 800px;
  padding: 0px;
  margin: 0 auto; 
}
/*TABS BEGIN*/

/*POPUP BEGIN*/
.overlay {
    display: none;
    position: fixed;
    left: 28%;
    top: 25%;
    padding: 25px;
    border: 2px solid black;
    background-color: #ffffff;
    width: 40%;
    height: 60%;
    z-index: 2;
    }
.fade {
    display: none;
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 1;
}
form{
  text-align: center;
}
a.close{
    position: absolute;
    right: 7%;
}
/*POPUP END*/
a.askBtn{
    padding: 5px;
    color: #FFF;
    background: #9fa6ad;
    transition: background .15s;
    float: right;
}

a.askBtn:hover{
  background: #f69c55;
}
nav.menu{
  min-width: 320px;
  max-width: 800px;
  padding: 0px;
  margin: 0 auto; 
}
.search{
  float:right;
}
.input{
  height: 23.7px;
    width: 73%;
}
.submitBtn{
  width: 154px;
  height: 41px;
  display: inline-block;
  color: white;
  font-weight: 700;
  padding: .5em 2em;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
}

.submitBtn:hover { background: #ffa500; }

