<!DOCTYPE html>
<html ng-app="helloApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/angular.min.js"></script>
	<script src="js/angular-resource.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
<form role="form" ng-submit="saveQuestion()" ng-controller="HttpController" >
<p>Title: <input type="text" name="title" ng-model="title"></p>
<p>Text: <textarea name="text" ng-model="text"></textarea></p>
<p>Tags: <input name="tags" type="text" ng-model="tags"></p>
<p>Username: <input name="user" type="text" ng-model="user"></p>
<p><input type="submit" ng-model="submit_btn"></p>
</form>

</body>
</html>